<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
  <link rel="stylesheet" href="../../static/tienda/css/style-login.css" />
  <title>Formulario Registro</title>
</head>
<body>
  <a href="index"><button type="button" class="btn btn-dark" style="margin-top: 20px; margin-left: 80px;margin-top:60px;font-family:Verdana, Geneva, Tahoma, sans-serif">Salir</button>
  <section class="form-register" style="margin-top: 200px;">
    <h4>Estimado usuario, favor elegir opción.</h4>
    <div><a href="adminBodega"><button type="button" class="btn btn-dark" style="margin-top: 20px; margin-left: 80px;font-family:Verdana, Geneva, Tahoma, sans-serif">Ingresar a bodega</button></a>
    <a href="adminExtranjeria"><button type="button" class="btn btn-dark" style="margin-top: 80px; margin-left: 70px; margin-bottom:20px; font-family:Verdana, Geneva, Tahoma, sans-serif;">Ingresar a extranjeria</button></a></div>
  </section>

</body>
</html>
